/*
 * Maybe remove as autoprefixer takes care of this?
 */
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

.note-line-container {
  border-top: 1px transparent solid;
  border-bottom: 1px transparent solid;
}

.note-line-container:hover {
  border-top: 1px lightgrey solid;
  border-bottom: 1px lightgrey solid;
  margin: 0;
}

.note-line-container:hover .line-buttons {
  display: inline-flex;
}

.note-line-container:focus .line-buttons {
  display: inline-flex;
}

.line-buttons {
  display: none;
}

.line-w-button {
  display: inline-flex;
  margin-bottom: 0;
  width: 100%;
}

.line-w-button:focus {
  outline: none;
}